<template>
  <div class="line">
    <span
      :class="[
        'label',
      ]"
    >
      {{ title }}
    </span>
    <span
      :class="[
        'rate',
      ]"
      :style="{
        width: `${value}%`,
        background: color,
      }"
    >
      <span
        :class="[
          'value',
          {
            out: value < 10
          }
        ]"
      >
        {{ value }}%
      </span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'LineChartItem',
  props: ['value', 'title', 'color'],
  data: () => ({
  }),
  computed: {
  },
  methods: {

  },
  mounted() {

  },
};
</script>

<style scoped lang="scss">

.line {
  height: 30px;
  position: relative;
  margin: 4px;
  .label {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: right;
    line-height: 30px;
  }
  .rate {
    display: inline-block;
    height: 30px;
    margin-left: 110px;
    transition: width 0.5s;
    position: relative;
    width: 400px;
    .value {
      transition: all 0.3s;
      position: absolute;
      transform: translateX(-10%);
      line-height: 30px;
      color: white;
      font-weight: bold;
      right: 0;
      text-align: right;
      max-height: 30px;
      &.out {
        width: 100px;
        text-align: left;
        color: black;
        transform: translateX(110%);
        right: 0;

      }
    }
  }
  .rate-1 {
    background: #54be59;
  }
  .rate-2 {
    background: rgb(224, 100, 100);
  }
}

</style>
