<template>
  <div
    :class="[
      'line-chart',
    ]"
  >
    <h2>
      {{data.name}}
    </h2>

    <LineChartItem
      v-if="data.top"
      title="Top2"
      :value="data.top"
      color="rgb(224, 100, 100)"
    />

    <LineChartItem
      v-if="data.bot"
      title="Bot2"
      :value="data.bot"
      color="#54be59"
    />

    <LineChartItem
      v-if="data.base"
      title="База"
      :value="data.base"
      color="#ccc"
    />

  </div>
</template>

<script>
import LineChartItem from '@/components/Line.vue';

export default {
  name: 'LineChart',
  props: ['data'],
  data: () => ({
  }),
  components: {
    LineChartItem,
  },
  computed: {
  },
  methods: {

  },
  mounted() {

  },
};
</script>

<style scoped lang="scss">

.line-chart {
  // background: rgb(180, 180, 180);
  // position: absolute;
  // left: 850px;
  margin: 50px 0 0 50px;
  width: 500px;
  // height: 800px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

}

</style>
