<template>
  <v-app>

    <div
      class="services"
      v-for="(service, index) in services"
      :key="service.name"
      @click="curService = services[index]"
    >
        <input
          type="radio"
          :id="name"
          :value="name"
        >
        <label
          :for="name"
        >
          {{ service.name }}
        </label>
    </div>

    <div
      v-if="curService"
      class="rates"
    >

      <div
        :class="[
          'rate',
          'rate-1',
        ]"
        :style="{
          width: `${curService.rate[0] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[0]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-2',
        ]"
        :style="{
          width: `${curService.rate[1] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[1]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-3',
        ]"
        :style="{
          width: `${curService.rate[2] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[2]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-4',
        ]"
        :style="{
          width: `${curService.rate[3] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[3]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-5',
        ]"
        :style="{
          width: `${curService.rate[4] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[4]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-6',
        ]"
        :style="{
          width: `${curService.rate[5] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[5]}}
        </span>
      </div>
      <div
        :class="[
          'rate',
          'rate-7',
        ]"
        :style="{
          width: `${curService.rate[6] / 10}%`,
        }"
      >
        <span
          class="value"
        >
          {{curService.rate[6]}}
        </span>
      </div>
    </div>

  </v-app>
</template>

<script>
import * as d3 from 'd3';

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    width: null,
    height: null,
    radius: null,
    color: null,
    data: {
      name: 'TOPICS',
      children: [{
        name: 'Topic A',
        children: [{ name: 'Sub A1', size: 4 }, { name: 'Sub A2', size: 4 }],
      }, {
        name: 'Topic B',
        children: [{ name: 'Sub B1', size: 3 }, { name: 'Sub B2', size: 3 }, { name: 'Sub B3', size: 3 }],
      }, {
        name: 'Topic C',
        children: [{ name: 'Sub A1', size: 4 }, { name: 'Sub A2', size: 4 }],
      }],
    },
    curService: null,
    services: [
      {
        name: 'HR_1',
        rate: [224, 534, 33, 12, 724, 11, 134],
      },
      {
        name: 'HR_2',
        rate: [234, 93, 372, 12, 744, 94, 904],
      },
      {
        name: 'HR_3',
        rate: [523, 93, 172, 12, 144, 243, 104],
      },
      {
        name: 'HR_4',
        rate: [244, 3, 372, 22, 144, 94, 904],
      },
      {
        name: 'HR_5',
        rate: [523, 53, 132, 12, 144, 143, 934],
      },
    ],
  }),
  mounted() {
    console.log(d3);
    // this.services.forEach(({ rate }) => {
    //   let sum = 0;
    //   rate.reduce()
    // });
  },
};
</script>
<style lang="scss">
  body {
    .services {
      input {
        display: none;
      }
      label {
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px;
        background: lightgray;
        &:hover {
          background: gray;
          color: white;
        }
      }
    }
    .rates {

      width: 500px;
      .rate {
        height: 30px;
        transition: width 0.5s;
        position: relative;
        .value {
          position: absolute;
          transform: translateX(110%);
          right: 0;
          line-height: 30px;
          text-align: right;
        }
      }
      .rate-1 {
        background: rgb(216, 40, 40);
      }
      .rate-2 {
        background: #d84315;
      }
      .rate-3 {
        background: #ef6c00;
      }
      .rate-4 {
        background: #ffd54f;
      }
      .rate-5 {
        background: #84c014;
      }
      .rate-6 {
        background: #689f38;
      }
      .rate-7 {
        background: #319e37;
      }
    }
  }
</style>
