<template>
  <v-app>
    <div
      class="services"
    >
      <div
        :class="[
          'service',
          {
            active: index === curServiceIndex,
          }
        ]"
        v-for="(service, index) in chartData.children"
        :key="service.name"
        @click="changeService(index)"
      >
        {{ service.name }}
      </div>
    </div>
    <Chart
      :data="curService"
    />
    <LineChart
      v-if="curSection"
      class="rates"
      :data="curSection"
    />

  </v-app>
</template>

<script>
import chartData from '@/data/data.json';
import Chart from '@/components/Chart.vue';
import LineChart from '@/components/LineChart.vue';

export default {
  name: 'App',
  components: {
    Chart,
    LineChart,
  },
  data: () => ({
    curServiceIndex: 0,
    curService: null,
    chartData,
    curSection: null,
  }),
  methods: {
    changeService(i) {
      this.curService = this.chartData.children[i];
      this.curServiceIndex = i;
      this.curSection = null;
    },
  },
  mounted() {
    /*eslint-disable*/
    window.vueContext = this;
    this.curService = this.chartData.children[0];
  },
};
</script>
<style scoped lang="scss">

.services {
  input {
    display: none;
  }
  .service {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    background: lightgray;
    &.active,
    &:hover {
      background: gray;
      color: white;
    }
  }
}

</style>
